header {
    background-color: #7B1FA2;
}
header ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
   
    color: #FFFFFF;
    height: 50px;
    padding-top: 15px;
}

header ul li  {
    display: inline;
}

header ul li a {
    color: #FFFFFF;
    margin-right: 20px;
    text-decoration: none;
}
header a:hover {
    text-decoration: none;
    color: #E1BEE7;
}

@media screen and (max-width:600px) {
    header  {
        display: flex;
        flex-direction: column;
        height: 200px;
        margin-bottom: 20px;
    }

    header ul {
        flex-direction: column;
        flex-basis: 30px;
        justify-content: space-between;
        align-items: center; 
    }

    header ul li {
        margin-top: 10px;
    }

    .blog {
        position: relative;
        left: 48px;
    }
}

.blog {
    margin-right: 120px;
}

footer {
    display: relative;
    bottom: 0;
    text-align: center;
    background-color: #7B1FA2;
    color: #FFFFFF;
    height: 50px;
}

footer p {
    padding-top: 13px;
}

h1 {
    text-align: center;
    color: #9C27B0;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.post-list {
    display: flex;
    flex-direction: column;
}

.post-list a {
    color: #757575;
    opacity: 0.75;
}

.post-list a:hover {
    color: #7C4DFF;
    opacity: 1;
    text-decoration: none;
}

.author-name, .more-posts, .author-title, .back-to-authors {
    color: #7C4DFF;
    opacity: 0.75;
}

.post-list a:hover, .author-name:hover, .more-posts:hover, .author-title:hover, .back-to-authors:hover {
    color: #7C4DFF;
    opacity: 1;
    text-decoration: none;
}

.border-line {
   border-bottom: #BDBDBD;
   opacity: 0.75;
}

.author-info {
    display: flex;
}

.new-post-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#form-new-post{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#post-title, #post-content {
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    padding: 10px;
}

#post-content {
    height: 200px;
}

.create-post, .cancel-new-post {
  
    position: relative;
    background-color: #FFEB3B;
    color: #757575;
    margin: 0 auto;
    border-radius: 20px;
}

.cancel-new-post {
    right: 90px;
}

.create-post {
    left: 90px;
}

.create-post:hover, .cancel-new-post:hover {
    background-color: #7C4DFF;
    color: white;
}

.message {
    color: rgb(248, 56, 56);
}